body {
    background-image: url(./IMG_0022.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 700px;
}
.head {
    width: 100%;
    height: 210px;
    background-color: #F7CB15;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    font-weight: 400;
    position: relative;
    top: 200px;
}
.photo {
    border-color: #F55D3E;
    position: relative;
    left: 500px;
}
